<div class="d-flex flex-column align-items-center">
    <div class="d-flex justify-content-between menu-certificado align-items-center w-100">
        <div class="d-flex align-items-center btn-voltar">
            <i class="ph ph-arrow-left"></i>
            <p class="mb-0">Voltar</p>
        </div>
        <app-secondary-button></app-secondary-button>
    </div>
    <div class="certifiado d-flex justify-content-center align-items-center">
        <img class="icon-medalha" src="/certificate/certificate_ribbon.png" />
        <div class="conteudo-certificado">

        </div>
    </div>
</div>